@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&family=Zen+Loop&display=swap');

body {
  font-family: 'STIX Two Math';
}

h1 {
  font-family: 'Zen Loop';
}

.one-per-line {
  display: block;
}
